/*estilos para formularios*/
.form-contenedor-{
    display: flex;
    justify-content: center;
    padding: 100px;
}
.form-contenedor{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $colorone;
    border-radius: 10px;
    width: 1000px;
}
.form-img{
    width: 350px;
    @include imgresponsive;
}
.form-enviar{
    display: flex;
    justify-content: center;
    padding: 10px;
    img{
        width: 100px;
    }
}
/*estilos para el formulario sacado de la pagina https://uiverse.io/elements?page=1*/
.form{
    margin: 0px 50px;
    display: flex;
    flex-direction: column;
    gap: 20px;
} 
.form-group {
    display: flex;
    flex-direction: column;
    gap: 2px;
} 
.form-group label {
    display: block;
    margin-bottom: 5px;
    color: $colorthree;
    font-weight: 600;
    font-size: 12px;
} 
.form-group input {
    width: 100%;
    padding: 12px 16px;
    border-radius: 8px;
    color: $colortwo;
    font-family: $fuenteespecial;
    background-color: transparent;
    border: 1px solid $colorthree;
} 
.form-group textarea {
    width: 100%;
    padding: 12px 16px;
    border-radius: 8px;
    resize: none;
    color: $colortwo;
    height: 96px;
    border: 1px solid $colorthree;
    background-color: transparent;
    font-family: $fuenteespecial;
} 
.form-group input::placeholder {
    opacity: 0.5;
} 
.form-group input:focus {
    outline: none;
    border-color: $colortwo;
}  
.form-group textarea:focus {
    outline: none;
    border-color: $colortwo;
}  
.form-submit-btn {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    align-self: flex-start;
    font-family: $fuenteespecial;
    color: #717171;
    font-weight: 600;
    width: 40%;
    background: #313131;
    border: 1px solid #414141;
    padding: 12px 16px;
    font-size: inherit;
    gap: 8px;
    margin-top: 8px;
    cursor: pointer;
    border-radius: 6px;
}  
.form-submit-btn:hover {
    background-color: $colortwo;
    border-color: $colortwo;
}
.button {
  --bg: $colorthree;
  --hover-bg: $colorone;
  --hover-text: $colorthree;
  color: $colortwo;
  cursor: pointer;
  border: 1px solid var(--bg);
  border-radius: 4px;
  padding: 0.8em 2em;
  background: var(--bg);
  transition: 0.2s;
}
.button:hover {
  color: var(--hover-text);
  transform: translate(-0.25rem, -0.25rem);
  background: var(--hover-bg);
  box-shadow: 0.25rem 0.25rem var(--bg);
}
.button:active {
  transform: translate(0);
  box-shadow: none;
}