@media screen and (max-width:1050px){
    .titulo__imagen{
        display: none;
    }
}
@media screen and (max-width:1000px){
    .titulo__contenedor{
        position: sticky;
        top: .0;
        z-index: 999;
    }
    .titulo__texto a{
        padding: 10px;
        font-size: 50px;
        font-family: $fuentetitulo;
    }
    .titulo__auto{
        width: 150px;
        border-radius: 30px;
        opacity: .6;
        padding: 10px;
    }  
    .navegador{
        display: none;
    }
    .navegador__dropdown{
        display: unset;
        margin: 20px;
        background-color:$colorfour;
        border-color: #282B28;
    }
    .navegador__imagen{
        width: 40px;
        background-size: cover;
    }
    .navegador__contenedor{
        background-color: $colorfour;
        ul{
            display: flex;
            justify-content: center;
            flex-direction: column;
            gap: 10px;                
            background-color: #313131;
            padding: 50px;
            border-radius: 10px;
            li{
                display: flex;
                justify-content: center;
                .navegador-link-sitio{
                    background-color: #282B28;
                }
                a{
                    text-decoration: none;
                    color: $colorthree;
                    font-size: 25px;                
                    background-color: #656d5b;
                    width: 250px;
                    border-radius: 20px;
                    padding: 20px;
                }
                a:hover{
                    background-color: #464b3f;
                }
            }
        }
    }
    .main__texto__card{
        font-size: 15px;
    }
    .main__texto__contenedor{
        margin: 20px;
    }
    .form-img{
        display: none;
    }
}
@media screen and (max-width:534px){
    .titulo__texto a{
        padding: 10px;
        font-size: 20px;
    }
    .main__carrusel{
        display: none;
    }
    .main__carrusel__mediaqueries{
        display: unset;
    }
    .main__card{
        display: block;
    }
    .main__contenedor__ofertas__newin2{
        display: unset;
        display: flex;
        justify-content: space-between;
        margin: 45px 0px 50px 0px;
    }
    .main__contenedor__ofertas__newin{
        display: none;
    }
    .main__texto__contenedor{
        display: none;
    }
    .main__texto__contenedor2{
        display: unset;
        display: flex;
        justify-content: center;
        margin-top: 30px;
    }
    .main__categorias{
        display: none;
    }
    .main__categorias2{
        border-top: $colortwo solid 3px;
        padding-top: 30px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .main__categorias2 img{
        margin: 30px;
    }
    .main__categorias2 a:hover{
        opacity: .4;
    }
    .formulario__contenedor{
        border: 2px solid $colorfour;
        margin: 50px;
        padding: 50px;
        border-radius: 40px;
        background-color: #89937c7a;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: 
        "formulario__forms" 
        "formulario__enviar";
    }
    .section-img{
        display: flex;
        flex-wrap: wrap;
        align-content: center;
        img{
            border-radius: 50px;
            margin: 50px;
            @include imgresponsive;
        }
    }
    .dropdown-links{
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 10px;
    }
    .section-img{
        img{
            border-radius: 20px;
            width: 250px;
        }
    }
}