@import "variables";
@import "mediaqueries";
@import "fonts";
@import "formulario";
@import "header";
@import "main";
@import "footer";
*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}
body{
    background-image: url(../multimedia/desktop-wallpaper-dark-gray-dark-grey.jpg);
    font-family: $fuentecuerpo;
}


