@import 'variable';
@import 'fuente';
@import 'header';
@import 'main';
@import 'form';
@import 'footer';
@import 'mediaqueries';
*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}
body{
    background-image: url(../multimedia/desktop-wallpaper-dark-gray-dark-grey.jpg);
    font-family: $fuentecuerpo;
}


