*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}
@font-face{
    font-family:'dafont';
    src: url(./font/Themundayfreeversion-Regular.ttf);
}
@font-face{
    font-family:'MiFuentePersonalizada';
    src: url(./font/Milker.otf) format('truetype');
}
body{
    background-color: #89937C;
    font-family: dafont;
}
.titulo__contenedor{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #626958;
    border: 10px;
    border-color: white;
}
.titulo__imagen{
    width: 150px;
    border-radius: 30px;
    opacity: .6;
    padding: 10px;
}
.titulo__texto{
    color: #282B28;
    padding: 10px;
    font-size: 60px;
    font-family: MiFuentePersonalizada;
}
.navegador{
    border-radius: 10px;
    margin-right: 30px;
    height: 100px;
}
.navegador li{
    color: #282B28;
    display: flex;
    align-items: center;
}
.navegador li a{
    border-radius: 10px;
    background-color: #89937C;
    font-size: 17px;
    padding: 20px;
    margin: 10px; 
    text-decoration: none;  
}
.navegador li a:hover{
    background-color: #5c6451;
    border-radius: 10px;
}
.navegador li a:active{
    background-color: #373b32;
    border-radius: 10px;
}
.navegador__dropdown{
    display: none;
}
.main__carrusel{
    margin-bottom: 50px;
    height: 36rem;
}
.main__texto{
    text-align: center;
}
.main__card{
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;
}
.card{
    background-color: #363946;
    color: #000000;
}
.card a{
    text-decoration: none;
}
.main__grilla{
    display: grid;
    border-radius: 10px;
    padding: 10px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr ;
    gap: 10px;
    grid-template-areas: 
    "CategoriaJeans CategoriaCamperas"
    "CategoriaSweaters CategoriasBuzos";
}
.main__grilla a:hover{
    opacity: .6;
}
.CategoriaJeans{
    width: 41rem;
    border-radius: 10px;
    grid-area: CategoriaJeans;

} 
.CategoriaCamperas{
    width: 41rem;
    border-radius: 10px;
    grid-area: CategoriaCamperas;

}
.CategoriaSweaters{
    width: 41rem;
    border-radius: 10px;
    grid-area: CategoriaSweaters;

}
.CategoriaBuzos{
    width: 41rem;
    border-radius: 10px;
    grid-area: CategoriaBuzos;

}
.footer__contenedor{
    background-color: #626958;
    display: flex;
    justify-content: space-evenly;
}
.footer__enlaces{
    width: 50px;
    margin: 20px;
}
@media screen and (max-width:1000px){

    .titulo__texto{
        padding: 10px;
        font-size: 40px;
        font-family: MiFuentePersonalizada;
    }
    .titulo__auto{
        width: 150px;
        border-radius: 30px;
        opacity: .6;
        padding: 10px;
    }  
    .navegador{
        display: none;
    }
    .navegador__dropdown{
        display: unset;
        margin-right: 20px;
        background-color:#89937C;
        border-color: #282B28;
    }
    .navegador__imagen{
        width: 40px;
        background-size: cover;
    }
    .navegador__contenedor{
        background-color: #89937C;
    }
    .navegador__links{
        padding: 0%;
    }
    .navegador__links li{
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        font-family: dafont;
    }
    .navegador__links li a{
        text-align: center;
        color: #282B28;
        width: 100%;
        border-radius: 10px;
        background-color: #ffffff;
        font-size: 20px;
        padding: 20px;
        margin: 10px;
        text-decoration: none;  
    }
    .navegador__links li a:active{
        background-color: #adadad;
        border-radius: 10px;
    }
    .main__carrusel{
        height: 100%;
    }
}
@media screen and (max-width:534px){
    .titulo__texto{
        padding: 10px;
        font-size: 40px;
        font-family: MiFuentePersonalizada;
    }
    .titulo__imagen{
        display: none;
    }
    .navegador{
        display: none;
    }

}
