*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}
@font-face{
    font-family:'dafont';
    src: url(./font/Themundayfreeversion-Regular.ttf);
}
@font-face{
    font-family:'MiFuentePersonalizada';
    src: url(./font/Milker.otf) format('truetype');
}
body{
    background-image: url(./multimedia/desktop-wallpaper-dark-gray-dark-grey.jpg);
    font-family: dafont;
}
.titulo__contenedor{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #626958;
    border: 10px;
    border-color: #ffffff;
}
.titulo__imagen{
    width: 150px;
    border-radius: 30px;
    padding: 10px;
}
.titulo__texto{
    color: #000000;
    padding: 10px;
    font-size: 60px;
    font-family: MiFuentePersonalizada;
}
.navegador{
    border-radius: 10px;
    margin: 20px;
    height: 100px;
}
.navegador li{
    color: #282B28;
    display: flex;
    align-items: center;
}
.navegador li a{
    border-radius: 10px;
    background-color: #89937C;
    font-size: 17px;
    padding: 20px;
    margin: 10px; 
    text-decoration: none;  
}
.navegador li a:hover{
    background-color: #5c6451;
    border-radius: 10px;
}
.navegador li a:active{
    background-color: #373b32;
    border-radius: 10px;
}
.navegador__dropdown{
    display: none;
}
.main__carrusel{
    margin-bottom: 50px;
}
.main__texto{
    width: 300px;
    max-width: 100%;
    height: auto;
    color: #ffffff;
    border: 2px solid #ffffff;
    text-align: center;
}
.main__texto__contenedor{
    display: flex;
    justify-content: center;
}
.main__texto__contenedor2{
    display: none;
}
.main__contenedor__ofertas__newin{
    display: flex;
    justify-content: space-between;
    margin: 45px 0px 50px 0px;
}
.main__contenedor__card{
    background-color: #89937C;
    border-radius: 10px;
    width: 15rem;
    margin: 10px;
}
.main__imagen{
    width: 15rem;
    max-width: 100%;
    height: auto;
}
.main__texto__card{
    text-align: center;
    text-decoration: none;
}
.main__contenedor__ofertas__newin2{
    display: none;
}
.main__grilla{
    display: grid;
    border-radius: 10px;
    padding: 10px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr ;
    gap: 10px;
    grid-template-areas: 
    "CategoriaJeans CategoriaCamperas"
    "CategoriaSweaters CategoriasBuzos";
}
.main__grilla a:hover{
    opacity: .6;
}
.CategoriaJeans{
    width: 41rem;
    border-radius: 10px;
    grid-area: CategoriaJeans;
    max-width: 100%;
    height: auto;
} 
.CategoriaCamperas{
    width: 41rem;
    border-radius: 10px;
    grid-area: CategoriaCamperas;
    max-width: 100%;
    height: auto;
}
.CategoriaSweaters{
    width: 41rem;
    border-radius: 10px;
    grid-area: CategoriaSweaters;
    max-width: 100%;
    height: auto;

}
.CategoriaBuzos{
    width: 41rem;
    border-radius: 10px;
    grid-area: CategoriaBuzos;
    max-width: 100%;
    height: auto;

}
.footer__contenedor{
    background-color: #626958;
    display: flex;
    justify-content: space-evenly;
}
.footer__enlaces{
    width: 50px;
    margin: 20px;
}
.main__carrusel__mediaqueries{
    display: none;
}
.formulario__contenedor{
    border: 2px solid #89937C;
    margin: 150px;
    padding: 50px;
    border-radius: 40px;
    background-color: #89937c7a;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas: 
    "formulario__forms formulario__imagen"
    "formulario__forms formulario__imagen"
    "formulario__forms formulario__imagen"
    "formulario__enviar formulario__imagen";
}
.formulario__imagen__logo{
    width: 50px;
}
.formulario__imagen{
    width: 400px;
    grid-area: formulario__imagen;
    margin-left: 25px;
}
.formulario__forms{
    grid-area: formulario__forms;
}
.formulario__enviar{
    text-align: center;
    grid-area: formulario__enviar;
}
.formulario__texto{
    color:#ffffff;
}
@media screen and (max-width:1000px){

    .titulo__texto{
        padding: 10px;
        font-size: 40px;
        font-family: MiFuentePersonalizada;
    }
    .titulo__auto{
        width: 150px;
        border-radius: 30px;
        opacity: .6;
        padding: 10px;
    }  
    .navegador{
        display: none;
    }
    .navegador__dropdown{
        display: unset;
        margin-right: 20px;
        background-color:#89937C;
        border-color: #282B28;
    }
    .navegador__imagen{
        width: 40px;
        background-size: cover;
    }
    .navegador__contenedor{
        background-color: #89937C;
    }
    .navegador__links{
        padding: 0%;
    }
    .navegador__links li{
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        font-family: dafont;
    }
    .navegador__links li a{
        text-align: center;
        color: #282B28;
        width: 100%;
        border-radius: 10px;
        background-color: #ffffff;
        font-size: 20px;
        padding: 20px;
        margin: 10px;
        text-decoration: none;  
    }
    .navegador__links li a:active{
        background-color: #adadad;
        border-radius: 10px;
    }
    .main__texto__card{
        font-size: 20px;
    }
    .main__texto__contenedor{
        margin: 20px;
    }
}
@media screen and (max-width:534px){
    .titulo__texto{
        padding: 10px;
        font-size: 40px;
        font-family: MiFuentePersonalizada;
    }
    .titulo__imagen{
        display: none;
    }
    .navegador{
        display: none;
    }
    .main__carrusel{
        display: none;
    }
    .main__carrusel__mediaqueries{
        display: unset;
    }
    .main__card{
        display: block;
    }
    .main__contenedor__ofertas__newin2{
        display: unset;
        display: flex;
        justify-content: space-between;
        margin: 45px 0px 50px 0px;
    }
    .main__contenedor__ofertas__newin{
        display: none;
    }
    .main__texto__contenedor{
        display: none;
    }
    .main__texto__contenedor2{
        display: unset;
        display: flex;
        justify-content: center;
        margin-top: 30px;
    }
    .main__grilla{
        display: grid;
        border-radius: 10px;
        padding: 10px;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        gap: 10px;
        grid-template-areas: 
        "CategoriaJeans" 
        "CategoriaCamperas"
        "CategoriaSweaters" 
        "CategoriasBuzos";
    }
    
}
